<table border=1 cellspacing=0 >
</tr>
<td><b>Title:</b></td>
<td> Movie title  </td>
</tr>
<td><b>Description:</b></td>
<td>Enter description   </td>
</tr>
<td><b>Score:</b></td>
<td>000   </td>
</tr>
<td><b>Comments:</b></td>
<td>   


</td>
</tr>
</table>
